<!DOCTYPE html>

<html>

  <head>
    <title>Request Header Parser</title>
    <link rel="shortcut icon"
      href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"
      type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <h2 id="title">Request Header Parser Microservice</h2>
      <h3>How to Use:</h3>
      <p id="how">Just click on the button below!</p>
      <a href="api/whoami"><button>Who Am I??</button></a>

      <h3>What Happens:</h3>
      <p id="what">A request is sent to the server and it responds back with your IP Address, your language, and your software. </p>
    </div>
  </body>


</html>
