body {
  font-family: "Noto Sans Mono", monospace, "sans-serif";
  font-size: 16px;
  color: #222;
  background-color: rgb(228, 195, 151);
  text-align: center;
  line-height: 1.4em;
}

h2 {
  font-size: 3vw;
}

h3 {
  margin-top: 6vw;
  font-size: 2vw;
}

#how {
  font-size: 1.5vw;
}

button {
  color: #222;
  border-color: black;
  background-color: #ddb37c;
  font-weight: bold;
  font-size: 1.5vw;
  width: 11vw;
  height: 5vw;
  border-radius: 0.5vw;
}
.container {
  padding: 0;
  margin-top: 40px;
}

button:hover {
  cursor: pointer;
}
footer {
  display: flex;
  flex-direction: row;
  font-style: italic;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 11px;
  width: 300px;
  justify-content: space-around;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
}

#footer-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}
.footer-button,
footer {
  color: rgba(8, 7, 7, 0.527);
}

/* Larger Views (Like Monitors and such) */
@media (min-width: 1600px) {
  footer {
    font-size: 13px;
    width: 500px;
  }
}
@media (min-width: 2560px) {
  footer {
    font-size: 24px;
    width: 600px;
  }
}

/* Mobile View */
@media (max-width: 600px) {
  footer {
    margin-top: 50px;
  }
}
